body {

}

.navbar{
    background-color: #800080 !important;
}

.navbar .navbar-brand{
    color: white;
}

.navbar .navbar-brand:hover {
    color: white;
}

.navbar .navbar-nav li a{
    color: white;
}

.navbar .navbar-nav li a:hover {
    color: lightgray;
}

.navbar .navbar-nav .nav-item{
    position: relative;
}

.navbar ,navbar-nav .nav-item:hover::after{
    width: 100%;
}

.navbar .nav-item .dropdown-menu .dropdown-item{
    color: black !important;
}

.navbar .nav-item .dropdown-menu .dropdown-item:hover {
    color: black !important;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}